* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: black;

}

@font-face {
    font-family: myFirstFont;
    src: url(./font/GTWalsheimPro-Medium.ttf);
}

@font-face {
    font-family: myFirstFontbold;
    src: url(./font/GTWalsheimPro-Black.ttf);
}

@font-face {
    font-family: myFirstFontthin;
    src: url(./font/GTWalsheimPro-CondensedThin.ttf);
}


.hero {
    height: 90vh;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.nav-bar-wrapper {
    width: 100%;
    height: 7vh;
    background-color: black;
}

.nav-bar a:active {
    background-color: white;
}

.nav-link {
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    color: white;
}

ul {
    display: flex;
    padding: 10px;
    font-family: myfirstfont;
    font-size: 20px;
}

@media (max-width: 600px) {
    ul {
        font-size: 15px;
    }
}

li {
    margin: auto;
    display: inline;
}

.nav-link:hover {
    color: #5f99ff;
}



.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;


}

.intro p {
    font-size: 2rem;
    margin: 0;
    color: white;
    font-family: myFirstFont;
}

@media (max-width: 600px) {
    .intro p {
        font-size: 1.5rem;
    }
}

.content h1 {
    font-size: 10rem;
    margin: 0;
    color: white;
    font-family: myFirstFontbold;
    transition: 0.5s;

}

@media (max-width: 768px) {
    .content h1 {
        font-size: 7rem;
    }
}

@media (max-width: 600px) {
    .content h1 {
        font-size: 5rem;
    }
}

.content h1:hover {
    -webkit-text-stroke: 1px #5f99ff;
    color: transparent;
}


.back-video {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -8;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.dot {
    color: #5f99ff;
}

.container-2 {
    height: 100%;
    padding: 5%;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

@media (max-width: 1200px) {
    .container-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
}

.left-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 5px;
    padding-right: 5px;
}

.blue-skill p {
    font-size: 1.3rem;
    padding-bottom: 20px;
    color: #5f99ff;
    font-family: myFirstFont;
}


@media (max-width: 600px) {
    .blue-skill p {
        font-size: 0.7rem;
        text-align: center;
    }
}

.my-skills h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: myFirstFont;
    color: white;
}


@media (max-width: 600px) {
    .my-skills h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}

.my-goal p {
    font-family: myFirstFontthin;
    color: #999999;
    font-size: 1.5rem;
    line-height: 2rem;
}


@media (max-width: 600px) {
    .my-goal p {
        font-size: 1rem;
        text-align: center;
    }
}


.p-showcase h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding-top: 5%;
    font-family: myFirstFont;
}

@media (max-width: 600px) {
    .p-showcase h2 {
        font-size: 2.5rem;
        text-align: center;

    }
}

.work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



@media (max-width: 1200px) {
    .work {
        display: flex;
        flex-direction: column;
    }
}

.work-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
   
}

.toggle-btn {
  margin-top: 0.5rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
}
.toggle-btn:hover {
  background-color: #5f99ff;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.work img {
    width: 300px;
    height: 180px;
    border: 6px solid #5f99ff;
    padding: 0.5rem;
}


@media (max-width: 1200px) {
    .work-item {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}


.work h3 {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: myfirstfont;
    padding: 1rem;
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .work-item h3 {
        font-size: 2rem;
        margin-bottom: 0;
    }
}

.project-about{
    color: #999999 ;
    text-align: left;
    font-family: myfirstfont;
    font-size: 1rem;
    width: 450px;
    letter-spacing: 2px;
    padding-left: 1.2rem;
}
.project-stack{
    color: #999999 ;
    text-align: left;
    font-family: myfirstfontthin;
    font-size: 1rem;
    width: 80%;
    letter-spacing: 2px;
    padding-left: 1.2rem;
    padding-top: 1rem;
}
@media (max-width: 600px) {
    .project-about{
        font-size: 0.7rem;
        padding:0 3rem;
        text-align: center;
    }
    .project-stack{
        font-size: 0.7rem;
        padding:0;
        padding-left:3rem;
        padding-top: 1rem;
        width: 90%;
        text-align: center;
    }
}
    

.container-3 {
    height: 100%;
    padding: 5%;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

@media (max-width: 1200px) {
    .container-3 {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}


.work-together {
    height: 100%;
    padding-top: 5%;
}

.w-next {
    font-size: 1.3rem;
    padding-bottom: 20px;
    color: #5f99ff;
    font-family: myFirstFont;
}


.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-center h2 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-family: myFirstFont;
    color: white;
}

@media (max-width: 600px) {
    .text-center h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}

.contact-para {
    font-family: myFirstFontthin;
    color: #999999;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: center;
    padding-top: 28px;
    padding-right: 124px;
    padding-left: 124px;
    padding-bottom: 28px;
}

@media (max-width: 600px) {
    .contact-para {
        font-size: 1rem;
        text-align: center;
    }
}


.mm {
    color: whitesmoke;
    font-family: myfirstfont;
}

footer {
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    justify-content: center;
    background-color: black;
    color: #5f99ff;
    font-size: 1rem;
    font-family: myfirstfont;
}

  .footer-bar-wrapper {
    background-color: #000;
    padding: 1rem 0;
  }

  .footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
  }

  .footer-bar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
  }

  .footer-bar li {
    padding: 0 0.5rem;
    white-space: nowrap;
    font-family:myfirstfont;

  }

  .footer-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .footer-note {
    color: white;
    font-family: myfirstfont;
    padding-right: 1rem;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  

  @media (max-width: 600px) {
    .footer-bar {
      flex-direction: column;
      align-items: flex-center;
      gap: 0.5rem;
    }

    .footer-bar ul {
      justify-content: center;
    }

    .footer-note {
      padding-right: 0;
      align-self: center;
    }
    .footer-link{
        font-size:0.9rem
    }
  }
